.dialogContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  background-color: var(--light-black);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.title {
  width: fit-content;

  font-family: var("--primary-font");
  font-size: 1.5rem;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: var(--white);
  paint-order: stroke fill;

  margin: 0;
  height: 10%;

  &.withoutTitle {
    display: none;
  }
}

.content {
  width: 60%;
  height: 80%;
  background-color: white;
  border-radius: var(--paper-border-radius);
  padding: 0.6rem;

  &.withoutTitle {
    width: 70%;
    height: 90%;
    padding: 0;
  }
}
